body{
    background-color: #394149;
    text-align: center;
    color: #a8b8c8;
}

h1{
    font-size: xxx-large;
}

h2{
    font-size: xx-large;
}

.contact{
    background-color: #231c34;
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 10px;
    border-radius: 15px;
}

.home{
    font-size: 50px;
    color: #a8b8c8;
    text-decoration: none;
    border: none;
    border-radius: 45px;
    background-color: #41007f;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
}